body {
    background-color: aqua;
    font-family: Georgia;
}

h1 {
    font-family: Comic Sans MS;
    font-size: 60px;
    color: darkblue;
    text-align: center;
}

.a1 {
    color: white;
    font-variant: small-caps;
}

.a1:hover {
    color: red;
    text-decoration: none;
}

.a2 {
    text-decoration: none;
    font-weight: bold;
}

.a2:hover {
    color: white;
    text-decoration: none;
    background-color: blue;
    font-weight: bold;
}

h4 {
    text-align: right;
    font-style: italic;
}

.p1 {
    text-align: center;
    color: orange;
}

.p2 {
    text-align: right;
    line-height: 2;
}